<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/login.css" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <autenticacao>
        <h1>Login</h1>
        <input type="text" id="email" placeholder="Email">
        <input type="text" id="senha" placeholder="Senha">
        <botoes>
            <button onclick="login()">Entrar</button>
            <button onclick="cadastrar()">Cadastrar</button>
        </botoes>
    </autenticacao>

    <script>
        function login(){
            window.location.href = '/main';
        }

        function cadastrar(){
            window.location.href = './cadastrar.html';
        }
    </script>
    
</body>
</html>